hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(139, 139, 139);
}

ul {
	color: whitesmoke;
	font-size: 125%;
	margin-top: 0px;
	margin-left: 0px;
	text-align: left;
	list-style-type: "- ";
    padding-left: 18px
}

#altar {
    width: 225px;
    float: right;
}

#enchant {
    width: 125px;
    float: left;
    margin-right: 5px;
}

#hotbar {
    width: 300px;
    float: right;
}

.section {
	color: white;
	font-size: 125%;
	margin: 5px;
}

.hrfixer {
    margin: 0;
    padding: 0;
    clear: both;
}