hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(139, 139, 139);
}

ul {
    padding-left: 18px
}

#icon, .repeaticon
{
    position: absolute;
    
    top: 50%;
    left: 12%;
    transform: translate(0, -50%);

    width: 25%;
}

#content
{
    position: absolute;

    background-color: rgba(0, 0, 0, 0.2);

    top: 50%;
    left: 40%;
    height: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    transform: translate(0, -50%);

    color: white;

    width: 50%;
}

#description
{
    margin-top: 5px;
}

#title
{
    text-align: center;
    font-size: 45px;
}

#content > .recipe
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

#content > .recipegallery
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.section {
	color: white;
	font-size: 125%;
	margin: 5px;
}

.hrfixer {
    margin: 0;
    padding: 0;
    clear: both;
}

.ct {
	width: 125px;
	float: left;
	margin-right: 5px;
}

.scrollbar
{
    overflow-y: auto;
}

.hidden
{
	display: none;
}

table, tr, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

td
{
	background-color: rgb(0,0,0,0.1);
    padding: 5px;
    text-align: center;
}

tr.altarTier > td
{
    background-color: rgb(0,0,0,0.2);
}

tr.altarTier > td
{
    min-width: 30px;
}

td.available
{
    background-color: rgba(0,255,0,0.2);
}

td.notavailable
{
    background-color: rgba(255,0,0,0.2);
}