hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(139, 139, 139);
}

ul {
    padding-left: 18px
}

.section {
	color: white;
	font-size: 125%;
	margin: 5px;
}

.hrfixer {
    margin: 0;
    padding: 0;
    clear: both;
}

.ct {
	width: 125px;
	float: left;
	margin-right: 5px;
}

.recipe {
	margin-top: 10px;
	width: 250px;
	float: right;
}

.upgrade {
	height: 125px;
	float: left;
	margin-right: 5px;
}